<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AFP.Common.Test" version="1.0.0" targetFramework="net40" />
  <package id="AFPMessages" version="1.0.0" targetFramework="net40" />
  <package id="AFPST.Common" version="1.0.0" targetFramework="net40" />
  <package id="MassTransitContrib" version="1.0.1" targetFramework="net40" />
</packages>