<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <appSettings>
    <add key="HostUrl" value="http://ReadAThonEntry.local" />
    <add key="TestMode" value="1" />
    <add key="EDIMode" value="0" />

    <add key="SQLConnection" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=entries.mdb" />
    <add key="SQLConnectionTest" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=entriesTest.mdb" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="TimeKeeper" connectionString="Connect Timeout=30;Connection Lifetime=300;Database=TimeKeeper;Server=(local);Integrated Security=SSPI;Application Name=TimeKeeper Application" providerName="System.Data.SqlClient" />
    <add name="Production" connectionString="server=SQL;database=Automation;user=asctracdbo;password=dbo2006;Application Name=AFPST_process_OrderRequestReceived_msgs" />
    <add name="Test" connectionString="server=localhost;database=Automation;user=asctracdbo;password=dbo2006;Application Name=AFPST_process_OrderRequestReceived_msgs" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.733" newVersion="1.3.0.733" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="ReadAThonEntry" />
      <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add assembly="FluentNHibernate" />
    </assemblies>
    <namespaces>
      <add namespace="ReadAThonEntry" />
      <add namespace="System" />
      <add namespace="System.Collections" />
      <add namespace="System.Web" />
      <add namespace="FluentNHibernate.Data" />
    </namespaces>
  </razor>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>